@charset "UTF-8";

@font-face {
    font-family: 'Minecraft';
    src: url('../fonte/Minecraft.ttf');
} 

body {
    background-image: url('../fotos/FUNDO_POKEMON.png'), url('../fotos/FUNDO2_POKEMON.png');
    background-repeat: no-repeat, repeat-y;
    font-family: 'Minecraft', sans-serif;
    font-size: larger;
}

.button{
    position: absolute;
    border-radius: 12px;
    text-align: center;
    width: 130px;
    height: 40px;
    
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: gray;
    color: white;
}

dialog {
    text-align: center;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.651);
}

dialog > button {
    background-color: rgb(250, 38, 38);
    border-color: rgb(250, 38, 38);
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    transition: .2s;
}

dialog > button:hover {
    border-color: rgb(253, 80, 80);
    background-color: rgb(253, 80, 80);
    color: white;
    cursor: pointer;
}

.frame {
    position: absolute;
    width: 224px;
    height: 100px;
    
}

.box {
    position: absolute;
    background-color: crimson;
    width: 224px;
    height: 140px;
    border-radius: 12px;
    z-index: 9999;
    text-align: center;
    line-height: 140px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
    color: white;
    transition: 1.2s ease;
}

.box::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    
    border-bottom: 60px solid black;
    border-top: 60px solid black;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    border-radius: 20px;
    transform: rotate(-90deg);
    top: -92px;
    left: 78px;

}

.box:hover {
    background-color: rgb(139, 20, 44);
    cursor: pointer;
}

.box1{
    transform: translate(640px,70px);
}

.button0 {
    width: 130px;
    height: 40px;
    transform: translate(690px,120px);
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
}

.button0:hover {
    background-color: goldenrod;
}

.dialog0 {
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
}

.dialog0 > h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
    border-radius: 1px;
    padding-bottom: 5px;
    margin-top: -8px;
}

.dialog0 > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding-bottom: 5px;
}

.dialog0 > button {
    background-color: black;
    border-color: black;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
    
}

.dialog0 > button:hover {
    background-color: rgb(55, 55, 55);
    border-color: black;
    
}

.box2, .frame1{
    transform: translate(1260px, 110px);
}

.button1{
    transform: translate(1310px, 200px);
}

.box3, .frame2{
    transform: translate(1260px, 350px);
}

.button2{
    transform: translate(1310px, 440px);
}

.box4, .frame3{
    transform: translate(710px, 350px);
}

.button3{
    transform: translate(760px, 440px);
}

.box5, .frame4{
    transform: translate(710px, 570px);
}

.button4{
    transform: translate(760px, 660px);
}

.box6, .frame5{
    transform: translate(450px, 690px);
}

.button5{
    transform: translate(500px, 780px);
}

.box7, .frame6{
    transform: translate(900px, 800px); 
}

.button6{
    transform: translate(950px, 890px);
}

.box8, .frame7{
    transform: translate(640px,1010px);
}

.button7{
    transform: translate(690px,1110px);
}

.box9, .frame8{
    transform: translate(1260px, 1140px);
}

.button8{
    transform: translate(1310px, 1230px);
}

.box10, .frame9{
    transform: translate(1260px, 1380px);
}

.button9{
    transform: translate(1310px, 1470px);
}

.box11, .frame10{
    transform: translate(710px, 1380px);
}

.button10{
    transform: translate(760px, 1470px);
}

.box12, .frame11{
    transform: translate(710px, 1600px);
}

.button11{
    transform: translate(760px, 1690px);
}

.box13, .frame12{
    transform: translate(450px, 1720px);
}

.button12{
    transform: translate(500px, 1810px);
}

.box14, .frame13{
    transform: translate(900px, 1830px); 
}

.button13{
    transform: translate(950px, 1920px);
}

.box15, .frame14{
    transform: translate(640px,2070px);
}

.button14{
    transform: translate(690px,2160px);
}

.box16, .frame15{
    transform: translate(1260px, 2200px);
}

.button15{
    transform: translate(1310px, 2290px);
}

.box17, .frame16{
    transform: translate(1260px, 2440px);
}

.button16{
    transform: translate(1310px, 2530px);
}

.box18, .frame17{
    transform: translate(710px, 2440px);
}

.button17{
    transform: translate(760px, 2530px);
}

.box19, .frame18{
    transform: translate(710px, 2660px);
}

.button18{
    transform: translate(760px, 2750px);
}

.box20, .frame19{
    transform: translate(450px, 2780px);
}

.button19{
    transform: translate(500px, 2870px);
}

.box21, .frame20{
    transform: translate(900px, 2890px); 
}

.button20{
    transform: translate(950px, 2980px);
}

.box22, .frame21{
    transform: translate(640px,3130px);
}

.button21{
    transform: translate(690px,3220px);
}

.box23, .frame22{
    transform: translate(1260px, 3260px);
}

.button22{
    transform: translate(1310px, 3350px);
}

.box24, .frame23{
    transform: translate(1260px, 3500px);
}

.button23{
    transform: translate(1310px, 3590px);
}

.box25 , .frame24{
    transform: translate(710px, 3500px);
}

.button24{
    transform: translate(760px, 3590px);
}

.box26, .frame25{
    transform: translate(710px, 3720px);
}

.button25{
    transform: translate(760px, 3810px);
}

.boxbonus, .framebonus{
    transform: translate(150px, 3840px);
}

.buttonbonus{
    transform: translate(200px, 3930px);
}

.boxbonus {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;   
	-webkit-animation: rainbow 7s ease infinite;
    animation: rainbow 7s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.box27, .frame26{
    transform: translate(450px, 3840px);
}

.button26{
    transform: translate(500px, 3930px);
}

.box28{
    background-image: linear-gradient(to right, rgb(205, 127, 50), rgb(179, 110, 43), rgb(160, 99, 39),rgb(139, 86, 34),rgb(160, 99, 39),rgb(179, 110, 43), rgb(205, 127, 50));
    transform: translate(900px, 3950px); 
}

.box29{
    background-image: linear-gradient(to right, rgb(216, 216, 216), rgb(179, 179, 179), rgb(160, 160, 160),rgb(139, 139, 139),rgb(160, 160, 160),rgb(179, 179, 179), rgb(216, 216, 216));
    transform: translate(640px,4190px);
}

.box30{
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
    transform: translate(1260px, 4320px);
}