@charset "UTF-8";

@font-face {
    font-family: 'Minecraft';
    src: url('../fonte/Minecraft.ttf');
} 

@font-face {
    font-family: 'Tangerine';
    src: url('../fonte/Tangerine-Bold.ttf');
}

body {
    background-image: url('../fotos/FUNDO_POKEMON.png'), url('../fotos/FUNDO2_POKEMON.png');
    background-repeat: no-repeat, repeat-y;
    font-family: 'Minecraft', sans-serif;
    font-size: larger;

}

.button{
    position: absolute;
    border-radius: 12px;
    text-align: center;
    width: 130px;
    height: 40px;
    cursor: pointer;
    transition: .2s;
    z-index: 1;
}

button:hover {
    background-color: gray;
    color: white;
}

dialog {
    text-align: center;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.651);
}

dialog > button {
    background-color: rgb(250, 38, 38);
    border-color: rgb(250, 38, 38);
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    transition: .2s;
}

dialog > button:hover {
    border-color: rgb(253, 80, 80);
    background-color: rgb(253, 80, 80);
    color: white;
    cursor: pointer;
}

.frame {
    position: absolute;
    width: 224px;
    height: 100px;
    z-index: 2;
}

.date {
    text-align: right;
    font-size: small;
}

.txt {
    z-index: 12;
    position: absolute;
    background-color: red;
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    color: white;
    text-shadow: 0px 0px 15px whitesmoke;
}

div > img {
    width: 250px;
    height: 190px;
    border-radius: 12px;
    position: relative;
}

.gift > div {
    transform: translate(40px, -98px);
    width: 160px;
    height: 30px;
}

.gift {
    position: absolute;
    width: 250px;
    height: 190px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
    color: white;
    transition: 1.2s ease;
    z-index: 3;
}

.gift:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.gift1{
    transform: translate(630px,30px);
    
}

.caixa-gradiente {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.button0 {
    font-family: 'Tangerine',Impact, sans-serif;
    font-size: 35px;
    width: 150px;
    height: 60px;
    transform: translate(690px,115px);
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    background-size: 200% 200%;
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
    animation: rainbow 1.5s linear infinite;
}

.button0 p {
    background-image: linear-gradient(to right, black, rgb(37, 37, 37), black);
    transform: translate(-1px, -57px);
    padding: 4px;
    width: 128px;
    border-radius: 12px;
    position: absolute;
    transition: .2s;
    color: rgb(235, 178, 35);
}

.button0 p:hover {
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(45, 45, 45), rgb(12, 12, 12));
    color: whitesmoke;
}

.dialog0 {
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
}

.dialog0 > h2 {
    font-family: 'Tangerine', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
    border-radius: 1px;
    padding-bottom: 5px;
    margin-top: -8px;
}

.dialog0 > p {
    font-family: 'Tangerine', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    transform: translateY(-20px);
    margin-top: -50px;
    margin-bottom: 10px;
}

.dialog0 > button {
    background-color: black;
    border-color: black;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
}

.dialog0 > button:hover {
    background-color: rgb(55, 55, 55);
    border-color: black;
}

.gift2{
    transform: translate(1250px, 60px);
} 

.frame1{
    transform: translate(1260px, 110px);
}

.button1{
    transform: translate(1310px, 200px);
}

.gift3{
    transform: translate(1250px, 300px);
}

.frame2{
    transform: translate(1260px, 350px);
}

.button2{
    transform: translate(1310px, 440px);
}

.gift4{
    transform: translate(700px, 300px);
}

.frame3{
    transform: translate(710px, 350px);
}

.button3{
    transform: translate(760px, 440px);
}

.gift5{
    transform: translate(700px, 520px);
}

.frame4{
    transform: translate(710px, 570px);
}

.button4{
    transform: translate(760px, 660px);
}

.gift6{
    transform: translate(440px, 640px);
}

.frame5{
    transform: translate(450px, 690px);
}

.button5{
    transform: translate(500px, 780px);
}

.gift7{
    transform: translate(890px, 750px);
}

.frame6{
    transform: translate(900px, 800px); 
}

.button6{
    transform: translate(950px, 890px);
}

.gift8{
    transform: translate(630px, 960px);
}

.frame7{
    transform: translate(640px,1010px);
}

.button7{
    transform: translate(690px,1100px);
}

.gift9{
    transform: translate(1250px, 1090px);
}

.frame8{
    transform: translate(1260px, 1140px);
}

.button8{
    transform: translate(1310px, 1230px);
}

.gift10{
    transform: translate(1250px, 1330px);
}

.frame9{
    transform: translate(1260px, 1380px);
}

.button9{
    transform: translate(1310px, 1470px);
}

.gift11{
    transform: translate(700px, 1330px);
}

.frame10{
    transform: translate(710px, 1380px);
}

.button10{
    transform: translate(760px, 1470px);
}

.gift12{
    transform: translate(700px, 1550px);
}

.frame11{
    transform: translate(710px, 1600px);
}

.button11{
    transform: translate(760px, 1690px);
}

.gift13{
    transform: translate(440px, 1670px);
}

.frame12{
    transform: translate(450px, 1720px);
}

.button12{
    transform: translate(500px, 1810px);
}

.gift14{
    transform: translate(890px, 1780px);
}

.frame13{
    transform: translate(900px, 1830px); 
}

.button13{
    transform: translate(950px, 1920px);
}

.gift15{
    transform: translate(630px, 2020px);
}

.frame14{
    transform: translate(640px,2070px);
}

.button14{
    transform: translate(690px,2160px);
}

.gift16{
    transform: translate(1250px, 2150px);
}

.frame15{
    transform: translate(1260px, 2200px);
}

.button15{
    transform: translate(1310px, 2290px);
}

.gift17{
    transform: translate(1250px, 2390px);
}

.frame16{
    transform: translate(1260px, 2440px);
}

.button16{
    transform: translate(1310px, 2530px);
}

.gift18{
    transform: translate(700px, 2390px);
}

.frame17{
    transform: translate(710px, 2440px);
}

.button17{
    transform: translate(760px, 2530px);
}

.gift19{
    transform: translate(700px, 2610px);
}

.frame18{
    transform: translate(710px, 2660px);
}

.button18{
    transform: translate(760px, 2750px);
}

.gift20{
    transform: translate(440px, 2730px);
}

.frame19{
    transform: translate(450px, 2780px);
}

.button19{
    transform: translate(500px, 2870px);
}

.gift21{
    transform: translate(890px, 2840px);
}

.frame20{
    transform: translate(900px, 2890px); 
}

.button20{
    transform: translate(950px, 2980px);
}

.gift22{
    transform: translate(630px, 3080px);
}

.frame21{
    transform: translate(640px,3130px);
}

.button21{
    transform: translate(690px,3220px);
}

.gift23{
    transform: translate(1250px, 3210px);
}

.frame22{
    transform: translate(1260px, 3260px);
}

.button22{
    transform: translate(1310px, 3350px);
}

.gift24{
    transform: translate(1250px, 3450px);
}

.frame23{
    transform: translate(1260px, 3500px);
}

.button23{
    transform: translate(1310px, 3590px);
}

.gift25{
    transform: translate(700px, 3450px);
}

.frame24{
    transform: translate(710px, 3500px);
}

.button24{
    transform: translate(760px, 3590px);
}

.gift26{
    transform: translate(700px, 3670px);
}

.frame25{
    transform: translate(710px, 3720px);
}

.button25{
    transform: translate(760px, 3810px);
}

.giftbonus{
    transform: translate(140px, 3790px);
}

.framebonus{
    transform: translate(150px, 3840px);
}

.buttonbonus{
    transform: translate(200px, 3930px);
}

.giftbonus::before{
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #ff0000, #ff9a00, #d0de21, #4fdc4a, #3fdad8, #2fc9e2, #1c7fee, #5f14f2, #ba0cf8, #fb07d9, #ff0000);
    overflow: hidden;
    background-size: 200% 200%;   
    animation: rainbow 2s linear infinite;
    opacity: .4;
    
    clip-path: polygon(87% 100%, 87% 96%, 92% 96%, 92% 92%, 96% 92%, 96% 35%, 100% 35%, 100% 26%, 96% 26%, 96% 22%, 83% 22%, 83% 9%, 79% 9%, 79% 4%, 75% 4%, 75% 0%, 63% 0%, 63% 4%, 59% 4%, 58% 13%, 54% 13%, 54% 9%, 46% 9%, 46% 13%, 42% 13%, 42% 5%, 38% 5%, 38% 0%, 25% 0%, 25% 4%, 21% 4%, 21% 9%, 17% 9%, 16% 22%, 4% 22%, 4% 26%, 0% 26%, 0% 35%, 4% 35%, 4% 92%, 8% 92%, 8% 96%, 13% 96%, 13% 100%);}

@-webkit-keyframes rainbow {
    100%{background-position-x: -200%;}
}

@keyframes rainbow { 
    100%{background-position-x: -200%;}
}

.gift27{
    transform: translate(440px, 3790px);
}

.frame26{
    transform: translate(450px, 3840px);
}

.button26{
    transform: translate(500px, 3930px);
}

.gift28::before{
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, rgb(205, 127, 50), rgb(179, 110, 43), rgb(160, 99, 39),rgb(139, 86, 34),rgb(160, 99, 39),rgb(179, 110, 43), rgb(205, 127, 50));
    overflow: hidden;
    background-size: 200% 200%;   
    animation: rainbow 2s linear infinite;
    opacity: .4;
    clip-path: polygon(87% 100%, 87% 96%, 92% 96%, 92% 92%, 96% 92%, 96% 35%, 100% 35%, 100% 26%, 96% 26%, 96% 22%, 83% 22%, 83% 9%, 79% 9%, 79% 4%, 75% 4%, 75% 0%, 63% 0%, 63% 4%, 59% 4%, 58% 13%, 54% 13%, 54% 9%, 46% 9%, 46% 13%, 42% 13%, 42% 5%, 38% 5%, 38% 0%, 25% 0%, 25% 4%, 21% 4%, 21% 9%, 17% 9%, 16% 22%, 4% 22%, 4% 26%, 0% 26%, 0% 35%, 4% 35%, 4% 92%, 8% 92%, 8% 96%, 13% 96%, 13% 100%);
}

.gift28{
    transform: translate(890px, 3900px);
}

.button27{
    font-family: 'Tangerine',Impact, sans-serif;
    font-size: 35px;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    background-size: 200% 200%;
    animation: rainbow 1.5s linear infinite;
    background-image: linear-gradient(to right, rgb(205, 127, 50), rgb(179, 110, 43), rgb(160, 99, 39),rgb(139, 86, 34),rgb(160, 99, 39),rgb(179, 110, 43), rgb(205, 127, 50));
    transform: translate(940px, 3940px);
}

.button27 p {
    background-image: linear-gradient(to right, black, rgb(37, 37, 37), black);
    transform: translate(-1px, -57px);
    padding: 4px;
    width: 128px;
    border-radius: 12px;
    position: absolute;
    transition: .2s;
    color: rgb(160, 99, 39);
}

.button27 p:hover {
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(45, 45, 45), rgb(12, 12, 12));
    color: whitesmoke;
}

.gift29::before{
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, rgb(216, 216, 216), rgb(179, 179, 179), rgb(160, 160, 160),rgb(139, 139, 139),rgb(160, 160, 160),rgb(179, 179, 179), rgb(216, 216, 216));
    overflow: hidden;
    background-size: 200% 200%;   
    animation: rainbow 2s linear infinite;
    opacity: .4;
    clip-path: polygon(87% 100%, 87% 96%, 92% 96%, 92% 92%, 96% 92%, 96% 35%, 100% 35%, 100% 26%, 96% 26%, 96% 22%, 83% 22%, 83% 9%, 79% 9%, 79% 4%, 75% 4%, 75% 0%, 63% 0%, 63% 4%, 59% 4%, 58% 13%, 54% 13%, 54% 9%, 46% 9%, 46% 13%, 42% 13%, 42% 5%, 38% 5%, 38% 0%, 25% 0%, 25% 4%, 21% 4%, 21% 9%, 17% 9%, 16% 22%, 4% 22%, 4% 26%, 0% 26%, 0% 35%, 4% 35%, 4% 92%, 8% 92%, 8% 96%, 13% 96%, 13% 100%);
}

.gift29{
    transform: translate(630px, 4140px);
}

.button28{
    font-family: 'Tangerine',Impact, sans-serif;
    font-size: 35px;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    background-size: 200% 200%;
    animation: rainbow 1.5s linear infinite;
    background-image: linear-gradient(to right, rgb(216, 216, 216), rgb(179, 179, 179), rgb(160, 160, 160),rgb(139, 139, 139),rgb(160, 160, 160),rgb(179, 179, 179), rgb(216, 216, 216));
    transform: translate(680px,4180px);
}

.button28 p {
    background-image: linear-gradient(to right, black, rgb(37, 37, 37), black);
    transform: translate(-1px, -57px);
    padding: 4px;
    width: 128px;
    border-radius: 12px;
    position: absolute;
    transition: .2s;
    color: rgb(160, 160, 160);
}

.button28 p:hover {
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(45, 45, 45), rgb(12, 12, 12));
    color: whitesmoke;
}

.gift30::before{
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
    overflow: hidden;
    background-size: 200% 200%;   
    animation: rainbow 2s linear infinite;
    opacity: .4;
    clip-path: polygon(87% 100%, 87% 96%, 92% 96%, 92% 92%, 96% 92%, 96% 35%, 100% 35%, 100% 26%, 96% 26%, 96% 22%, 83% 22%, 83% 9%, 79% 9%, 79% 4%, 75% 4%, 75% 0%, 63% 0%, 63% 4%, 59% 4%, 58% 13%, 54% 13%, 54% 9%, 46% 9%, 46% 13%, 42% 13%, 42% 5%, 38% 5%, 38% 0%, 25% 0%, 25% 4%, 21% 4%, 21% 9%, 17% 9%, 16% 22%, 4% 22%, 4% 26%, 0% 26%, 0% 35%, 4% 35%, 4% 92%, 8% 92%, 8% 96%, 13% 96%, 13% 100%);
}

.gift30{
    transform: translate(1250px, 4270px);
}

.button29{
    font-family: 'Tangerine',Impact, sans-serif;
    font-size: 35px;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    background-size: 200% 200%;
    background-image: linear-gradient(to right, gold, goldenrod, rgb(185, 141, 27),rgb(160, 121, 24), rgb(185, 141, 27), goldenrod, gold);
    animation: rainbow 1.5s linear infinite;
    transform: translate(1300px, 4310px);
}

.button29 p {
    background-image: linear-gradient(to right, black, rgb(37, 37, 37), black);
    transform: translate(-1px, -57px);
    padding: 4px;
    width: 128px;
    border-radius: 12px;
    position: absolute;
    transition: .2s;
    color: rgb(235, 178, 35);
}

.button29 p:hover {
    background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(45, 45, 45), rgb(12, 12, 12));
    color: whitesmoke;
}